.header {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  /* align-content: center; */
}
.header div {
  background-color: aquamarine;
  width: 50px;
  /* margin: 10px; */
}
/* @media (max-width: 480px) {
  .header { */
/* flex-direction: column; */
/* flex-wrap: wrap; */
/* }
} */
