.navbar{
    width: 100%;
    background-color: rgb(59, 89, 152);
    height: 50px
}
.left{
    width: 50%;
    display: inline-block;
    float: left;
}
.right{
    width: 30%;
    display: inline-block;
    float: right;
    margin-left: 50px;
}
.right table tr td label{
    color: white;
    font-size: 10px;
}
/* .right div{
    width: 10%;
    margin: 5px;
    display: inline;
}
.right span label{
    display: inline-block;
} */