.header {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  /* flex-wrap: wrap; */
  /* align-content: center; */
}
.header div {
  background-color: aquamarine;
  width: 500px;
  margin: 10px;
}
@media (max-width: 480px) {
  .header {
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
  }
}
