.main{
    display: grid;
    grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [six] 10px [end];
    background-color: chartreuse;
    grid-template-rows: [row1-start] 25% [row1-end] 50px [third-line] auto [last-line];
}